body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

.content {
    background: grey;
    display: flex;
    width: 100%;
    height: 95vh;
}
.slider {
    display: flex;
    flex-direction: column;
    margin: 5% 10% 5% 10%;
    overflow: hidden;
    width: 100%;
    border-radius: 10px;
}
.slider_slides {
    display: flex;
    width: 500%;
    height: 80%;
    border-radius: 10px;
}

.slider_slides__block {
    display: flex;
    width: 25%;
    transition: all 1s cubic-bezier(0.25, 0.8, 0.25, 1);
    flex-direction: column;
}
.slider_slides__block-img {
    display: flex;
    justify-content: center;
    height: 90%;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.23), 0 10px 40px rgba(0, 0, 0, 0.19);
}
.slider_slides__block-text {
    display: flex;
    height: 10%;
    align-items: center;
    color: white;
    padding: 3%;
}

.slider_control {
    display: flex;
}

.slider_control__btns {
    display: flex;
    position: absolute;
    right: 10%;
    top: 65%;
}

/* .slider_control__btns div:hover {
    cursor: pointer;
    background: #666666;
}
 */
.inlbl:hover {
    background: #666666;
}
.label:hover > .inlbl {
    background: white;
}
.radio_btn {
    background-color: blanchedalmond;
    cursor: pointer;
}

#slide_1 {
    background-image: url("./assets/cat1.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}

#slide_2 {
    background-image: url("./assets/cat2.jpg");
    background-size: 80% 100%;
    background-repeat: no-repeat;
}
#slide_3 {
    background-image: url("./assets/cat3.jpg");
    background-size: 80% 100%;

    background-repeat: no-repeat;
}
#slide_4 {
    background-image: url("./assets/cat4.jpg");
    background-size: 80% 100%;

    background-repeat: no-repeat;
}

#radio1:checked ~ .slider_slides > .first {
    margin-left: 0;
}
#radio2:checked ~ .slider_slides > .first {
    margin-left: -25%;
}
#radio3:checked ~ .slider_slides > .first {
    margin-left: -50%;
}
#radio4:checked ~ .slider_slides > .first {
    margin-left: -75%;
}
#radio1:checked ~ .slider_control > .slider_control__btns > #label1 > .inlbl,
#radio2:checked ~ .slider_control > .slider_control__btns > #label2 > .inlbl,
#radio3:checked ~ .slider_control > .slider_control__btns > #label3 > .inlbl,
#radio4:checked ~ .slider_control > .slider_control__btns > #label4 > .inlbl {
    background: #666666;
}

input[name="radio-btn"] {
    position: absolute;
    visibility: hidden;
}
.label {
    cursor: pointer;
}
.inlbl {
    cursor: pointer;
    border-radius: 10px;
    border: 2px solid #666666;
    padding: 7px;
    margin: 10px;
}
